<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.iguana.apperp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawerFragment"
            android:label="@string/title_activity_navigation_drawer_fragment" >
        </activity>
        <activity
            android:name=".ChartsActivity"
            android:label="@string/title_activity_charts"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.iguana.apperp.MainActivity" />
        </activity>
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_activity_reports"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.iguana.apperp.MainActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.iguana.apperp.MainActivity" />
        </activity>
        <activity
            android:name=".SalesActivity"
            android:label="@string/title_activity_sales"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dev.iguana.apperp.MainActivity" />
        </activity>
    </application>

</manifest>
